<div class="container">
<div class="span11 well-large">
    <h1 id="header">Master Lesson</h1>
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#list" data-toggle="tab"><i class="icon-list"></i>Lesson List</a></li>
                <li><a href="#new" data-toggle="tab"><i class="icon-plus-sign"></i>Create New Lesson</a></li>
            </ul>
        <div class="tab-content">
    <div class="tab-pane active" id="list">
      <h3>Lesson List</h3>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Major</th>
                    <th>Semester</th>
                    <th>Name</th>
                    <th>KKM</th>
                    <th>Total Competency</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
            <tr ng-repeat="x in lessons.content">
                <td>{{x.major.name}}</td>
                <td>{{x.semester}}</td>
                <td>{{x.name}}</td>
                <td>{{x.kkm}}</td>
                <td>{{x.ctotal}}</td>
                <td>{{x.description}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
  <div class="tab-pane" id="new">
      <h3>Input Lesson</h3>
	 <form class="form-horizontal" name="formEdit">
            <div class="control-group">
                <label class="control-label" for="major">Major : &nbsp;</label>
                <select ui-select2 ng-model="currentLesson.major.id" data-placeholder="-- Select One --">
                    <option></option>
                    <option ng-repeat="major in majors" value="{{major.id}}">{{major.name}}</option>
              </select>
            </div>
             <div class="control-group">
                                                    <label class="control-label" for="semester">Semester : &nbsp;</label>
                                                    <select ui-select2 ng-model="currentLesson.semester" data-placeholder="-- Select One --">
                                                        <option>I</option>
                                                        <option>II</option>
                                                        <option>III</option>
                                                        <option>IV</option>
                                                        <option>V</option>
                                                        <option>VI</option>
                                                        <option ng-repeat="menu in semesterSelection" value="{{lesson.semester}}"></option>
                                                    </select>
             </div>        
            <div class="control-group" ng-class="{error: formEdit.name.$invalid}">
                <label class="control-label" for="name">Name : &nbsp;</label>
                <input type="text" 
                       id="name" 
                       name="name" 
                       placeholder="Name" 
                       ng-model="currentLesson.name"
                       required>
                <span ng-show="formEdit.name.$error.required" class="help-inline">required</span>   
            </div>
            <div class="control-group" ng-class="{error: formEdit.kkm.$invalid}">
                <label class="control-label" for="kkm">KKM : &nbsp;</label>
                <input type="text" 
                       id="kkm" 
                       name="kkm" 
                       placeholder="KKM" 
                       ng-model="currentLesson.kkm"
                       required>
                <span ng-show="formEdit.kkm.$error.required" class="help-inline">required</span>   
            </div>
              <div class="control-group" ng-class="{error: formEdit.ctotal.$invalid}">
                <label class="control-label" for="ctotal">Total Competency : &nbsp;</label>
                <input type="text" 
                       id="ctotal" 
                       name="ctotal" 
                       placeholder="Total Competency" 
                       ng-model="currentLesson.ctotal"
                       required>
                <span ng-show="formEdit.ctotal.$error.required" class="help-inline">required</span>   
            </div>
              <div class="control-group" ng-class="{error: formEdit.description.$invalid}">
                <label class="control-label" for="description">Description : &nbsp;</label>
                <input type="text" 
                       id="description" 
                       name="description" 
                       placeholder="Description" 
                       ng-model="currentLesson.description"
                       required>
                <span ng-show="formEdit.description.$error.required" class="help-inline">required</span>   
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-click="simpan()">Save</button>
                <button type="button" class="btn" ng-click="baru()">Cancel</button>
            </div>
    </form>
    </div>

</div>
 
<script>
  $(function () {
    $('#myTab a:last').tab('show');
	  })
 </script>
		</div>
</div>
