
<div class="container">
<div class="span11 well-large">
    <h1 id="header">Master Majors</h1>
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#list" data-toggle="tab"><i class="icon-list"></i>Majors List</a></li>
                <li><a href="#new" data-toggle="tab"><i class="icon-plus-sign"></i>Create New Majors</a></li>
            </ul>
        <div class="tab-content active">
    <div class="tab-pane active" id="list">
      <h3>Majors List</h3>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Majors ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
            <tr ng-repeat="x in majors">
                <td>{{x.majors_id}}</td>
                <td>{{x.name}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
  <div class="tab-pane" id="new">
      <h3>Input Majors</h3>
	 <form class="form-horizontal" name="formEdit">
                <div class="control-group" ng-class="{error: formEdit.majors.$invalid}">
                <label class="control-label" for="majors">Majors ID : &nbsp;</label>
                <input type="text" id="class"
                       name="majors" 
                       placeholder="Majors ID" 
                       ng-model="currentMajors.value"
                       required>
                <span ng-show="formEdit.majors.$error.required" class="help-inline">required</span>
                </div>
            <div class="control-group" ng-class="{error: formEdit.name.$invalid}">
                <label class="control-label" for="name">Name : &nbsp;</label>
                <input type="text" 
                       id="name" 
                       name="name" 
                       placeholder="Name" 
                       ng-model="currentName.value"
                       required
                       ui-validate="{nameValueAvailable: isNameValueAvailable}">
                <span ng-show="formEdit.name.$error.required" class="help-inline">required</span>   
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Save</button>
                <button type="button" class="btn" ng-click="baru()">Cancel</button>
            </div>
    </form>
    </div>

            </div>
</div>
 
<script>
  $(function () {
    $('#myTab a:last').tab('show');
	  })
 </script>
		</div>
</div>
