<div class="container">
    <div class="span11 well-large">
        <legend><h1>Master Student</h1></legend>
        <div>
            <a href="#myModal" role="button" class="btn btn-info" data-toggle="modal"><i class="icon-plus-sign"></i>Create New Student</a>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Input New Student</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formEdit">
                    <div class="control-group" ng-class="{error: formEdit.nis.$invalid}">
                        <label class="control-label" for="nis">NIS : &nbsp;</label>
                        <input type="text" id="nis" name="nis" placeholder="NIS" ng-model="currentStudent.nis"required>
                        <span ng-show="formEdit.nis.$error.required" class="help-inline">required</span>
                    </div>
                    <div class="control-group" ng-class="{error: formEdit.name.$invalid}">
                        <label class="control-label" for="name">Name : &nbsp;</label>
                        <input type="text" id="name" name="name" placeholder="Name Student" ng-model="currentStudent.name"required>
                        <span ng-show="formEdit.name.$error.required" class="help-inline">required</span>
                    </div>
                    <div class="control-group" ng-class="{error: formEdit.grade.$invalid}">
                        <label class="control-label" for="grade">Grade : &nbsp;</label>
                        <input type="text" id="grade" name="grade" placeholder="Tingkat" ng-model="currentStudent.grade"required>
                        <span ng-show="formEdit.grade.$error.required" class="help-inline">required</span>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="major">Major : &nbsp;</label>
                        <select ui-select2 ng-model="currentStudent.major.id" data-placeholder="-- Select One --">
                            <option></option>
                            <option ng-repeat="major in majors" value="{{major.id}}">{{major.name}}</option>
                        </select>
                    </div>
                    <div class="control-group" ng-class="{error: formEdit.religion.$invalid}">
                        <label class="control-label" for="religion">Religion : &nbsp;</label>
                        <input type="text" id="religion" name="religion" placeholder="Agama" ng-model="currentStudent.religion"required>
                        <span ng-show="formEdit.religion.$error.required" class="help-inline">required</span>
                    </div>
                    <div class="control-group" ng-class="{error: formEdit.sex.$invalid}">
                        <label class="control-label" for="sex">Sex : &nbsp;</label>
                        <input type="text" id="sex" name="sex" placeholder="Jenis Kelamin" ng-model="currentStudent.sex"required>
                        <span ng-show="formEdit.sex.$error.required" class="help-inline">required</span>
                    </div>
                    <div class="control-group" ng-class="{error: formEdit.address.$invalid}">
                        <label class="control-label" for="address">Address : &nbsp;</label>
                        <input type="text" id="address" name="address" placeholder="Address" ng-model="currentStudent.address"required>
                        <span ng-show="formEdit.name.$error.required" class="help-inline">required</span>
                    </div>
                    <div class="control-group" ng-class="{error: formEdit.zipcode.$invalid}">
                        <label class="control-label" for="zipcode">Zip Code : &nbsp;</label>
                        <input type="text" id="zipcode" name="zipcode" placeholder="Zip Code" ng-model="currentStudent.zipcode"required>
                    </div>
                    <div class="control-group" ng-class="{error: formEdit.phone.$invalid}">
                        <label class="control-label" for="phone">Phone : &nbsp;</label>
                        <input type="text" id="phone" name="phone" placeholder="Phone" ng-model="currentStudent.phone"required>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid" disabled="disabled" href="" data-dismiss="modal" aria-hidden="true"><i class="icon-ok"></i>Save</button>
                        <button type="button" class="btn btn-info" ng-click="baru()">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
        <hr>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>NIS</th>
                    <th>Name</th>
                    <th>Grade</th>                
                    <th>Majors</th>                
                    <th>Religion</th>
                    <th>Sex</th>
                    <th>Birthday</th>
                    <th>Address</th>
                    <th>Zip code</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in students.content">
                    <td>{{x.nis}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.grade}}</td>
                    <td>{{x.major.name}}</td>
                    <td>{{x.religion}}</td>
                    <td>{{x.sex}}</td>
                    <td>{{x.birth}}</td>
                    <td>{{x.address}}</td>
                    <td>{{x.zipcode}}</td>
                    <td>{{x.phone}}</td>
                    <td>
                        <a ng-click="edit(x)" href="#myModal" data-toggle="modal"><i class="icon-edit"></i></a>
                        <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>