<div class="container">
    <div class="span11 well-large">
        <div class="jumbotron masthead">
            <header class="jumbotron subhead" id="overview">
        <legend><h1>Master Teacher</h1></legend>
        </header>
        </div>
        <div>
            <a href="#myModal" role="button" ng-click="baru()" class="btn btn-info" data-toggle="modal"><i class="icon-plus-sign"></i>Create New Teacher</a>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Input New Teacher</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formEdit">
                    <div class="control-group" ng-class="{error: formEdit.name.$invalid}">
                        <label class="control-label" for="name">Name : &nbsp;</label>
                        <input type="text" id="name" name="name" placeholder="Nama Guru" ng-model="currentTeacher.name"required>
                        <span ng-show="formEdit.name.$error.required" class="help-inline">required</span>
                    </div>
                    <div class="control-group" ng-class="{error: formEdit.nip.$invalid}">
                        <label class="control-label" for="nip">NIP : &nbsp;</label>
                        <input type="text" id="nip" name="nip" placeholder="NIP" ng-model="currentTeacher.nip"required>
                        <span ng-show="formEdit.nip.$error.required" class="help-inline">required</span>
                    </div>
                    <div class="control-group" ng-class="{error: formEdit.description.$invalid}">
                        <label class="control-label" for="description">Description : &nbsp;</label>
                        <input type="text" id="description" name="description" placeholder="Keterangan" ng-model="currentTeacher.description"required>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid" disabled="disabled" href="" data-dismiss="modal" aria-hidden="true"><i class="icon-ok"></i>Save</button>
                        <button type="button" class="btn btn-info" ng-click="baru()">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
        <hr>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>NIP</th>                
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in teachers.content">
                    <td>{{x.name}}</td>
                    <td>{{x.nip}}</td>
                    <td>{{x.description}}</td>
                    <td>
                        <a ng-click="edit(x)" href="#myModal" data-toggle="modal"><i class="icon-edit"></i></a>
                        <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>