<div class="container">
    <div class="span11 well-large">
        <h1>Master Teacher</h1>
        <div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#list" data-toggle="tab" class="active"><i class="icon-list"></i>Teacher List</a></li>
                <li><a href="#new_teacher" data-toggle="tab"><i class="icon-plus-sign"></i>Create New Teacher</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="list">
                    <h3>Teacher List</h3>
                    <table class="table table-striped table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>NIP</th>                
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in teachers.content">
                                <td>{{x.name}}</td>
                                <td>{{x.nip}}</td>
                                <td>{{x.description}}</td>
                                <td>
                                    <a ng-click="edit(x)" href="#new_teacher" data-toggle="tab"><i class="icon-edit"></i></a>
                                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="new_teacher">
                    <h3>Input Teacher</h3>
                    <form class="form-horizontal" name="formEdit">
            <div class="control-group" ng-class="{error: formEdit.name.$invalid}">
                <label class="control-label" for="name">Name : &nbsp;</label>
                <input type="text" id="name" name="name" placeholder="Nama Guru" ng-model="currentTeacher.name"required>
                <span ng-show="formEdit.name.$error.required" class="help-inline">required</span>
            </div>
            <div class="control-group" ng-class="{error: formEdit.nip.$invalid}">
                <label class="control-label" for="nip">NIP : &nbsp;</label>
                <input type="text" id="nip" name="nip" placeholder="NIP" ng-model="currentTeacher.nip"required>
                <span ng-show="formEdit.nip.$error.required" class="help-inline">required</span>
            </div>
            <div class="control-group" ng-class="{error: formEdit.description.$invalid}">
                <label class="control-label" for="description">Description : &nbsp;</label>
                <input type="text" id="description" name="description" placeholder="Keterangan" ng-model="currentTeacher.description"required>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-click="simpan()" href="#list" data-toggle="tab">Save</button>
                <button type="button" class="btn btn-info" ng-click="baru()" id="new_teacher">Cancel</button>
            </div>
        </form>
                </div>
            </div>

            <script>
                $(function () {
                    $('#myTab a:last').tab('show');
                })
            </script>
        </div>
    </div>
</div>