<div class="row">
    <div class="span10 well-large">
        <h1>Form Teacher</h1>
        <form class="form-horizontal" name="formEdit">
            <div class="control-group" ng-class="{error: formEdit.name.$invalid}">
                <label class="control-label" for="name">Nama Guru : &nbsp;</label>
                <input type="text" id="name" name="name" placeholder="Nama Guru" ng-model="currentTeacher.name"required>
                <span ng-show="formEdit.name.$error.required" class="help-inline">required</span>
            </div>
            <div class="control-group" ng-class="{error: formEdit.nip.$invalid}">
                <label class="control-label" for="nip">NIP : &nbsp;</label>
                <input type="text" id="nip" name="nip" placeholder="NIP" ng-model="currentTeacher.nip"required>
                <span ng-show="formEdit.nip.$error.required" class="help-inline">required</span>
            </div>
            <div class="control-group" ng-class="{error: formEdit.description.$invalid}">
                <label class="control-label" for="description">Keterangan : &nbsp;</label>
                <input type="text" id="description" name="description" placeholder="Keterangan" ng-model="currentTeacher.description"required>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" ng-click="simpan()">Simpan</button>
                <button type="button" class="btn" ng-click="baru()">Batal</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="span10 well-large">
        <h1>Daftar Teacher</h1>

        <a class="btn" ng-click="baru()">
            <i class="icon-plus-sign"></i>Tambah Data
        </a>
        <hr>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>NIP</th>                
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in teachers.content">
                    <td>{{x.name}}</td>
                    <td>{{x.nip}}</td>
                    <td>{{x.description}}</td>
                    <td>
                        <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                        <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>